body {
  background-color: black;
}

#grid {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: linen;
  display: table;
  width: 90%;
  margin: auto;
}

#column {
  display: table-column;
  width: 50%;
  float: left;
  text-align: center;
}

#left {
  float: left;
  width: 75%;
}

#right {
  float: left;
  width: 25%;
}

#page {
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: linen;
  width: 80%;
  margin: auto;
}

#page-header {
  text-align: center;
}

#footer {
  margin: auto;
}

h3 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

#submit-button {
  width: 868px;
  line-height: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  display: block;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

input {
  display: table-row;
  line-height: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 100%;
}

#login-button {
  display: table-row;
  line-height: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 490px;
}

#login-form {
  display: table-column;
  float: left;
  text-align: center;
  margin: auto;
  padding-left: 60px;
  width: 80%;
}

#registration-form {
  display: table;
  background-color: linen;
  text-align: left;
  margin: auto;
  padding: 20px;
  width: 80%;
}