body {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: black;
  margin: auto;
}

#grid {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: linen;
  display: table;
  width: 1000px;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

#column {
  display: table-column;
  width: 50%;
  float: left;
  text-align: center;
}

#user, #pass {
  display: table-row;
  width: 100%;
}

#left, #right {
  display: table-column;
}

#left {
  float: left;
  width: 75%;
}

#right {
  float: left;
  width: 25%;
}

#loginButton {
  margin-right: 5px;
  margin-left: 5px;
  display: table-row;
  line-height: 46px;
  width: 100%;
}

input {
  display: table-row;
  line-height: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 100%;
}

#loginForm {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  width: 90%;
}